// $accent-color: #6F2CFF;
// $white-color: #fff;
// $black-color: #000;

:root {
    --accent-color: #6F2CFF;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #1C1C1C;
}

%roboto-400 {
    font-family: 'Roboto';
    font-weight: 400;
}

%roboto-700 {
    font-family: 'Roboto';
    font-weight: 700;
}